<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}


    <input name="u_phone" type="text">
    <br>
    <input name="auth_string" type="text">
    <br>

    <button>登录</button>

</form>
<script>
    function login() {
        fetch('http://127.0.0.1:8000/login/login', {
            method:'post',
            headers:{
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({
                'u_phone':'18292364563',
                'pwd':'123456'
            })
        }).then(resp=>resp.json())
            .then(data=>{
                console.log(data)
            })
    }
</script>
</body>
</html>